#!/bin/sh

# Week of the year: {{ output "date" "+%y%V" }}

command -v gpg >/dev/null 2>&1 || exit 0

if ! gpg --list-secret-keys >/dev/null 2>&1; then
  echo "No GPG secret keys found, skipping backup."
  exit 0
fi

command -v age >/dev/null 2>&1 || {
  echo "age not found, skip GPG backup"
  exit 0
}

GPG_EXPORT_DIR=$(mktemp -d)
GPG_BACKUP_DIR="{{ .chezmoi.sourceDir }}/ignorefiles/gpg"
AGE_RECIPIENT="{{ .chezmoi.config.age.recipient }}"
mkdir -p "${GPG_BACKUP_DIR}"

gpg --armor --export >"${GPG_EXPORT_DIR}/public.asc"
gpg --armor --export-secret-keys >"${GPG_EXPORT_DIR}/private.asc"
gpg --export-ownertrust >"${GPG_EXPORT_DIR}/ownertrust.txt"

age -a -r "${AGE_RECIPIENT}" -o "${GPG_BACKUP_DIR}/public.asc.age" "${GPG_EXPORT_DIR}/public.asc"
age -a -r "${AGE_RECIPIENT}" -o "${GPG_BACKUP_DIR}/private.asc.age" "${GPG_EXPORT_DIR}/private.asc"
age -a -r "${AGE_RECIPIENT}" -o "${GPG_BACKUP_DIR}/ownertrust.txt.age" "${GPG_EXPORT_DIR}/ownertrust.txt"

rm -rf "${GPG_EXPORT_DIR}"

echo "GPG keys backed up and encrypted to ${GPG_BACKUP_DIR}"
