source ~/.config/zsh/env.sh
source ~/.config/zsh/history.sh
source ~/.config/zsh/completion.sh
source ~/.config/zsh/functions.sh
source ~/.config/zsh/alias.sh
source ~/.config/zsh/keybind.sh
source ~/.config/zsh/settings.sh
source ~/.config/zsh/plugins.sh
