{{ if eq .chezmoi.os "darwin" }}
# macOS: Preview files with the system Quick Look
[[mgr.prepend_keymap]]
on = "<C-p>"
run = "shell -- qlmanage -p %s"

[[mgr.prepend_keymap]]
on   = [ "g", "i" ]
run  = "cd ~/Library/Mobile\\ Documents"
desc = "Go to iCloud"
{{ end }}

# Confirm before quitting if multiple tabs are open
[[mgr.prepend_keymap]]
on  = "q"
run = "plugin confirm-quit"


[[mgr.prepend_keymap]]
on  = "Q"
run = "plugin confirm-quit"
