// https://niri-wm.github.io/niri/Configuration:-Introduction
environment {
    //  GTK_IM_MODULE "fcitx"
    QT_IM_MODULE "fcitx"
    XMODIFIERS "@im=fcitx"
    SDL_IM_MODULE "fcitx"
    // 修复部分 Wayland 游戏/UI 的输入问题
    GLFW_IM_MODULE "ibus"
    // 使用 MToolkit 工具包，改善 XWayland 兼容性
    AWT_TOOLKIT_MTOOLKIT "true"
    // 防止 Java 尝试重新设置父窗口，避免焦点混乱
    _JAVA_AWT_WM_NONREPARENTING "1"
    // _JAVA_OPTIONS "-Dawt.toolkit.name=WLToolkit"
    no_proxy "localhost,127.0.0.1,.local"
    NO_PROXY "localhost,127.0.0.1,.local"
    https_proxy "http://127.0.0.1:20122"
    http_proxy "http://127.0.0.1:20122"
    all_proxy "http://127.0.0.1:20122"
}
// https://niri-wm.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {

        }
        numlock
        repeat-delay 600
        repeat-rate 50
    }
    touchpad {
        // off
        tap
        dwt
        scroll-factor horizontal=0.5 vertical=0.2
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        accel-speed 0.15
 // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }
    mouse {
 // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"

    }
    trackpoint {
 // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation

    }
 // warp-mouse-to-focus
    // workspace-auto-back-and-forth
    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    // focus-follows-mouse max-scroll-amount="0%"
}
// https://niri-wm.github.io/niri/Configuration:-Outputs
// Remember to uncomment the node by removing "/-"!
output "eDP-1" {
    mode "2560x1600"
    scale 1.0
    variable-refresh-rate on-demand=true
    transform "normal"
    focus-at-startup
    position x=1280 y=0
}
// lpsk ITcenter office
output "HDMI-A-3" {
    mode "1920x1080"
    scale 1.0
    transform "normal"
    focus-at-startup
    // position x=1280 y=0
}
cursor {
    // xcursor-size 32
    xcursor-theme "Bibata-Modern-Ice"
    hide-when-typing
}
// https://niri-wm.github.io/niri/Configuration:-Layout
layout {
    gaps 10
    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    background-color "transparent"
    default-column-width {
 // proportion 0.5

    }
    focus-ring {
        off
        width 3
        active-color "#8f58ef"
        inactive-color "#7060f050"
    }
    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }
    shadow {
        on
        // draw-behind-window true
        softness 20
        spread 3
        offset x=0 y=0
        // inactive-color "#000000f0"
        color "#00000080"
    }
    struts {
        left 32
        right 32
        top 0
        bottom 0
    }
    tab-indicator {
        place-within-column
    }
    insert-hint {
        // off
        color "#8839ef80"
        gradient from="#8839ef80" to="#8839ef80" angle=45 relative-to="workspace-view"
    }
}
// clipboard {
//     disable-primary
// }
spawn-at-startup "fcitx5"
// spawn-at-startup "nm-applet"
// spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
// spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "noctalia"
hotkey-overlay {
    skip-at-startup
    hide-not-bound
}
recent-windows {
    // off
    debounce-ms 750
    open-delay-ms 150
    highlight {
        active-color "#8839ef9f"
        urgent-color "#ff9999ff"
        padding 20
        corner-radius 15
    }
    previews {
        max-height 480
        max-scale 0.5
    }
    binds {
        Mod+Escape {
            next-window
        }
        Mod+Shift+Escape {
            previous-window
        }
        Mod+grave {
            next-window filter="app-id"
        }
        Mod+Shift+grave {
            previous-window filter="app-id"
        }
    }
}
prefer-no-csd
screenshot-path null
// https://niri-wm.github.io/niri/Configuration:-Animations
animations {
    // off
    // slowdown 3.0
    window-open {
        duration-ms 200
        curve "ease-out-expo"
    }
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
    }
}
blur {
    passes 3
    offset 4
    noise 0.02
    saturation 1.5
}
overview {
    workspace-shadow {
        off
    }
}
debug {
    honor-xdg-activation-with-invalid-serial
}
workspace "Browser"
workspace "Terminal"
workspace "SAP"
include "rules.kdl"
include "binds.kdl"
