// https://niri-wm.github.io/niri/Configuration%3A-Layer-Rules.html
layer-rule {
    match namespace="^noctalia-backdrop"
    place-within-backdrop true
}
// https://niri-wm.github.io/niri/Configuration:-Window-Rules
window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
    opacity 0.95
    draw-border-with-background false
    background-effect {
        blur true
    }
}
window-rule {
    match app-id="^com\\.mitchellh\\.ghostty$"
    opacity 0.8
}
window-rule {
    match title="^Picture in picture$"
    match title="WiFi-Manager"
    match app-id="^com\\-sap\\-platin\\-Gui$" title="查找"
    match app-id="^com\\-sap\\-platin\\-Gui$" title="Find"
    match app-id="wechat" title="Photos and Videos"
    open-floating true
}
window-rule {
    match title="^Picture in picture$"
    default-column-width {
        proportion 0.45
    }
    default-window-height {
        proportion 0.45
    }
}
window-rule {
    match app-id="^Eclipse$"
    match app-id="helium"
    default-column-width {

    }
}
window-rule {
    match app-id="^wechat$"
    // block-out-from "screen-capture"
    block-out-from "screencast"
}
window-rule {
    match is-active=false
    exclude is-floating=true
    exclude is-active-in-column=true
    exclude is-window-cast-target=true
    opacity 0.6
    background-effect {
        blur false
        noise 0.15
        saturation 0.3
    }
}
window-rule {
    match is-window-cast-target=true
    opacity 1.0
    border {
        on
        width 4
        active-color "#50f050"
        inactive-color "#7fc8ff"
        urgent-color "#9b0000"
    }
    draw-border-with-background false
}

