# ~/.config/containers/systemd/vaultwarden.container
# Quadlet unit — converts to a systemd service automatically

[Container]
Image=docker.io/vaultwarden/server:latest
ContainerName=vaultwarden
Environment=HTTP_PROXY=
Environment=HTTPS_PROXY=
Environment=NO_PROXY=
Environment=http_proxy=
Environment=https_proxy=
Environment=no_proxy=
Environment=DOMAIN=https://vw.home
Environment=WEBSOCKET_ENABLED=true
Environment=SIGNUPS_ALLOWED=true

Volume=%h/Documents/AppData/vaultwarden/data:/data/

Network=caddy-net

SecurityLabelDisable=true

[Service]
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
